[user]
	email = 152221911+iiixio@users.noreply.github.com
	name = iiixio
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[credential]
	helper = osxkeychain
