[user]
    email = 152221911+d4thomas@users.noreply.github.com
    name = d4thomas
	signingkey = 27CA006D0BA31FE1
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[color]
    ui = auto
[credential]
    helper = osxkeychain
[core]
    excludesfile = ~/.gitignore
[commit]
	gpgsign = true
[gpg]
    program = gpg
[alias]
    dotfiles = !git --git-dir=$HOME/.dotfiles --work-tree=$HOME
