.bundle
.dart-tool
.gnupg
.rbenv
.vscode
.zcompcache
go
Pictures
.cache
.dartServer
.lesshst
.Rhistory
.Trash
.vscode-R
.zcompdump
Applications
iCloud
Public
.cargo
.DS_Store
.local
.ruby-lsp
.vscode-react-native
Desktop
Library
.flutter
.npm
.ssh
.viminfo
.wget-hsts
.zsh_history
Documents
Movies
.dart
.platformio
.zsh_sessions
Downloads
Music
