[user]
    email = 152221911+d4thomas@users.noreply.github.com
    name = d4thomas
    signingkey = 27CA006D0BA31FE1
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[color]
    ui = auto
[credential]
    helper = osxkeychain
[core]
    excludesfile = ~/.gitignore
[commit]
    gpgsign = true
[gpg]
    program = /opt/homebrew/bin/gpg
[url "git@github.com:"]
    insteadOf = https://github.com/
[alias]
    ad = difftool --tool=araxis --dir-diff
    ads = difftool --tool=araxis --dir-diff --staged
    ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
    logline = log --graph --pretty=format:'%Cred%h%Creset -%C(magenta)%d%Creset %s %C(green)(%cr) %C(blue)<%an>%Creset' --abbrev-commit
[mergetool "araxis"]
    path = "/opt/homebrew/bin/araxiscompare"
[diff]
    tool = araxis
[merge]
    tool = araxis
[difftool]
    prompt = false
[mergetool]
    prompt = false
    keepBackup = true
